<h2 style="color: #1F2937; margin-top: 0;">New Event in {{communityName}}! 📅</h2>
<p>Hi {{name}},</p>
<p>A new event <b>{{eventTitle}}</b> has been posted in the <b>{{communityName}}</b> community.</p>
<p>Check it out and RSVP now!</p>
<div style="text-align: center;">
    <a href="{{clientUrl}}/events/{{eventId}}" class="btn">View Event</a>
</div>
